html {
  /*font-size: 62.5%;*/
}


body {
  margin: 0;
  /*font-family: 'LaBelleAurore',
    sans-serif;*/
    background: #000;
    /*border: 1px solid #234eee;*/
    overflow-x: hidden;
    overflow-y: visible;
    /*border: 1px solid red;
    /*display: flex;
    align-items: center;*/
    /*max-height: 100px;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}